*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}
h1{
    text-transform: uppercase;
    background-color: antiquewhite;
    text-align: center;
}

body{
    background-color: #ccc;
    background-size: cover;

}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  .btn {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    margin: 8px 0;
    border: none;
   
    width:10%;
    opacity: 0.9;
  }
  h3{
      font-weight: bolder;
  }
  #deposit1{
      background-color:lightcoral;
  }